-i https://pypi.org
Flask
Flask-Cors
Flask-Migrate
Flask-SQLAlchemy
Flask-JWT-Extended
SQLAlchemy
Werkzeug
Jinja2
itsdangerous
click
gunicorn
psycopg2-binary
alembic
cloudinary
flask-admin
flask-swagger
python-dotenv
pyyaml
wtforms